
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  width: 90%;
  margin: auto;
  gap: 300px
}

.header h2 {
  margin: 0;
  border-bottom: 5px black;
}


.menu {
  display: flex;
  gap: 20px; 
}

.menu a {
  text-decoration: none;
  color: gray;
  font-size: 16px;
}

.menu a:hover {
  color: black;
  font-weight: bold;
}


.content {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.products {
  width: 90%;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.product, .banner {
    text-align: center;
    position: relative;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.banner img {
  width: 100%;
  height:screen;   
  object-fit: cover;
  border-radius: 8px;
}

.product img {
  width: 100%;
  height: screen;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  margin: 10px 0;
  font-size: 16px;
}

.old {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}


.btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  background-color: darkred;
}

.banner .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.banner h2 {
  margin-bottom: 15px;
  font-size: 24px;
}


@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}